<?xml version="1.0" encoding="utf-8"?>
<manifest package="thoughtworks.eventapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="thoughtworks.eventapp.testactivity.TestFragmentContainerActivity" />
    </application>


</manifest>